:root {
        --white-color: #fff;
        --black-color: #000;
        --text-color: #333;
        --primary-color: #202b50;
        --sub-color: #81879a;
        --navbar-height: 34px;
        --header-height: 120px;
        --star-gold-color: #FFCE3E;
        --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
        }
    * {
        box-sizing: border-box;
    }
    html,body {
        margin: 0;
        padding: 0;
        font-family: "Proxima Nova",Arial, Helvetica, sans-serif;
        font-size: 1rem;
        line-height: 1.5;
    }
    .row {
        display: flex;/**/  
        flex-wrap: wrap; 
        margin-left: -4px;
        margin-right: -4px;
    }
    .flex-center {
        display: flex;
        justify-content: space-between;
        margin: -26px auto;
    }
   
    .flex-center-expert {
        max-width: 1640px;
    } 
    .flex-center-column {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }
    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .grid {
        display: grid;
        
    }