    .container-provide-heading-sub {
    font-size: 1rem;
    font-weight: 500;
    }
    .what-we-provide {
        display: flex;
        padding-top: 103px;
        justify-content: space-evenly;
    }
    .flex-center-column {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    }
    .header {
    /* margin-top:33px ; */
    height: 80px;
    display: flex;
    align-content: center;
    height: 80px;
    line-height: 55px;
    background-color: var(--white-color);
    justify-content: space-around;
    box-shadow: 0 1px 0px #e9e6e6;
    }
    .header-left {
    display: flex;
    align-items: center;
    line-height: 24px;
    }
    .header-right-list {
    list-style: none;
    display: flex;
    }
    .header-right-item {
    padding-left: 40px;
    }
    .header-right-firstchild {
    display: flex;
    align-items: center;
    }
    .transform_1:hover {
    transform: rotate(180deg);
    bottom: 0;
    }
    .header-right-underline a:hover {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    }
    .header-right-item-active {
    position: relative;
    cursor: pointer;
    }
    .header-right-item-active:hover .header-right-item-list {
    display: block;
    cursor: pointer;
    }
    .header-right-item-active:before {
    content: "";
    position: absolute;
    height: 74px;
    width: 195%;
    top: 45px;
    left: 2px;
    }
    .header-right-item-list {
    position: absolute;
    list-style: none;
    cursor: pointer;
    background-color: #fff;
    width: 450px;
    padding: 15px;
    line-height: 24px;
    box-shadow: rgb(37 43 52 / 12%) 0px 15px 30px 0px;
    top: 70px;
    z-index: 1;
    left: 0;
    border-radius: 5px;
    /*horizontal vertical blur*/
    display: none;
    }
    .header-right-item-child {
    background: rgb(246, 246, 246);
    width: 420px;
    padding: 15px;
    margin-top: 15px;
    border-radius: 4px;
    display: flex;
    }
    .header-right-item-child img {
    text-align: left;
    line-height: 24px;
    width: 30px;
    height: 30px;
    }
    .header-right-item-sideright {
    text-align: left;
    margin-left: 15px;
    }
    .learn_more {
        color: var(--primary-color);
        text-align: left;
        font-size: 1re
        m;
        text-transform: uppercase;
    }

    .header-right-item-child span {
    color: var(--sub-color);
    }
    .header-right-item-heading {
    font-weight: 700;
    line-height: 22.4px;
    color: var(--primary-color);
    }
    .transition_1 {
    line-height: 24px;
    }
    .header-right-item .transition_1 {
    font-size: 16px;
    position: absolute;
    transition: all 0.3s ease 0s;
    }
    .header-right-item .transition_1:hover {
    -webkit-transform: translate(3em, 0);
    -moz-transform: translate(3em, 0);
    -o-transform: translate(3em, 0);
    -ms-transform: translate(3em, 0);
    }
    .header-right-item a {
    text-decoration: none;
    }
    .header-btn-link {
    text-decoration: none;
    line-height: 0.91;
    text-transform: uppercase;
    }
    .btn {
    background-color: var(--primary-color);
    border: 1px solid rgb(32, 43, 80);
    border-radius: 0.25rem;
    padding: 13px 34px;
    cursor: pointer;
    height: 48px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 1.1rem;
    }
    .header-btn {
    box-shadow: rgb(203 208 214 / 76%) 0px 6px 12px 0px;
    font-size: 1.1rem;
    }
    .btn:hover {
    background-color: #f0f0f0;
    /* border:1px solid var(--primary-color); */
    color: var(--primary-color);
    }
    .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    background: rgb(247, 240, 240);
    }
    @media screen and (min-width: 992px) {
    .style-img {
        position: relative;
        background-repeat: no-repeat;
        background-image: url("./assets/img/bg-what-we-experts-desktop.svg");
        background-position: right top;
        min-height: 800px;
    }
    }
    .container-heading {
    margin-top: 102px;
    font-weight: 600;
    font-size: 100px;
    text-align: center;
    line-height: 96px;
    margin-bottom: 30px;
    }
    .container-sub {
    font-weight: 500;
    margin: 16px 0px 14px;
    font-size: 1.3rem;
    word-wrap: break-word;
    width: 500px;
    margin: 0 auto 27px;
    }
    .achievement {
    margin: 42px auto 14px;
    display: flex;
    place-items: center;
    flex-direction: column;
    }
    .container-achievement-sub {
    margin-top: 180px;
    position: relative;
    display: flex;
    }
    .container-achievement-item {
    width: fit-content;
    font-size: 22px;
    font-weight: 600;
    }
    .circle {
    display: block;
    height: 25px;
    width: 25px;
    background-color: #3ad13a;
    border-radius: 50%;
    border: 7px solid rgb(145, 215, 166);
    margin-right: 10px;
    }
    /* .container-achievement-item:before {
            content: "";
            position:absolute;
            width: 20px;
            height: 20px;
            top: 5px;
            background-color: rgb(145, 215, 58); 
            left: -35px;
            border-radius: 50%; 
        } */
    .container-award {
    display: flex;
    list-style: none;
    justify-content: center;
    }
    .container-award-item {
    margin: 0 15px;
    }
    .container-award-item img {
    width: 120px;
    }
    .container-provide {
    display: flex;
    }
    .provide_background {
    background-repeat: no-repeat;
    background-image: url(https://fabatechnology.com/home-page/home-service-bg.svg);
    background-size: auto;
    background-position: 169px top;
    padding-left: 1.5rem;
    min-height: 800px;
    bottom: 80px;
    }
    .container-provide-heading {
    width: 208px;
    font-weight: 700;
    margin: 0 100px 0;
    }
    .container-provide-heading > a {
    font-size: 3rem;
    }
    .container-provide-heading-sub {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    }
    .service-left-content {
        position: relative;
        display: flex;
    }
    .service-left-content::before {
        content: "";
        position: absolute;
        bottom: 102%;
        left: 110px;
        width: 2px;
        height: 111px;
        background-image: linear-gradient(rgb(194, 199, 206) 11%, rgb(247 240 240));
    }
    .service-left-content::after {
        content: "";
        position: absolute;
        top: 23%;
        left: 110px;
        width: 2px;
        height: 120px;
        background-image: linear-gradient(rgb(194, 199, 206) 11%, rgb(247 240 240));
        transform: rotate(-180deg);
    }

    .what-we-provide a {
        text-decoration: none;
        color: var(--primary-color);
    }
    .container-provide_include_right {
        /* z-index: 1; */
        right: 50px;
    }
    .container-provide-right {
    transition: all 0.3s ease-in-out 0s;
    display: flex;
    flex-direction: column;
    background-color: #f1f3f6;
    position: relative;
    color: var(--primary-color);
    font-size: 1rem;
    margin: 10px 10px;
    border: 2px solid rgb(241, 243, 246);
    padding: 10px;
    border-radius: 4px;
    width: 336px;
    height: 182px;
    background-image: linear-gradient(rgb(241, 243, 246) 2%, rgb(255, 255, 255));
    }
    .container-provide-right-icon {
    width: 30px;
    height: 30px;
    }
    .container-provide-right-heading {
    font-size: 1.5rem;
    margin: 10px 0;
    }
    .container-provide-right-sub {
    color: rgb(129, 135, 154) !important;
    }
    .how-we-do {
    position: relative;
    background: rgb(16, 23, 48);
    width: 100%;
    max-height: 474px;
    margin-top: 200px;
    }
    .how-we-do:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 53px;
    background: url(./assets/img/top_rectangle.svg) center bottom / cover
        no-repeat;
    left: 0;
    height: 15vw;
    top: -15vw;
    /* background-size: auto | length | cover | contain | initial | inherit; */
    margin-left: 0;
    }
    .how-we-do:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 53px;
    background: url(./assets/img/bg-how-we-do-bottom.svg) center bottom / cover
        no-repeat;
    left: 0;
    height: 15vw;
    bottom: -15vw;
    /* background-size: auto | length | cover | contain | initial | inherit; */
    margin-left: 0;
    }
    .position-relative {
    position: relative;
    display: flex;
    justify-content: center;
    }
    .how-we-do-group {
    display: flex;
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
    justify-content: center;
    position: relative;
    }
    .how-we-do-group-card {
    background-color: #262e48;
    margin-right: 25px;
    width: 30%;
    border-radius: 8px;
    border: 2px solid rgb(38, 46, 72);
    background-image: linear-gradient(rgba(30, 39, 67, 0));
    cursor: text;
    padding: 10px 12px;
    }
    .how-we-do--img {
    }
    .how-we-do--card-heading {
    color: var(--white-color);
    text-align: center;
    font-size: 22px;
    margin: 5px 0 10px;
    }
    .how-we-do--heading-sub {
    color: var(--sub-color);
    }
    @media screen and (min-width: 992px) {
    .deco {
        padding: 10% 0px 7%;
        background-image: url(https://fabatechnology.com/home-page/bg-how-we-do.svg);
        background-repeat: no-repeat;
        margin: 8vw 0px 20vw;
        background-position: 83% 0%;
        background-size: auto;
    }
    }
    .how-we-do-left {
    position: relative;
    }
    @media screen and (min-width: 992px) {
    .how-we-do-left::before {
        content: "";
        position: absolute;
        bottom: 120%;
        left: 0px;
        width: 2px;
        height: 120px;
        background-image: linear-gradient(
        to top,
        rgba(194, 199, 206, 0) 0%,
        rgb(194, 199, 206)
        );
    }
    }
    @media screen and (min-width: 992px) {
    .how-we-do-left::after {
        content: "";
        position: absolute;
        bottom: -51%;
        width: 2px;
        height: 120px;
        left: 0;
        background-image: linear-gradient(
        to bottom,
        rgba(194, 199, 296, 0) 0%,
        rgb(194, 199, 206)
        );
        /* transform: rotate(-180deg);*/
    }
    }
    .how-we-do-left-title {
    }
    .how-we-do-left a {
    text-decoration: none;
    color: var(--white-color);
    }
    .how-we-do-left-title-link {
    font-weight: 700;
    font-size: 48px;
    }
    .how-we-do-left-learn-more {
    margin-right: 63px;
    }
.container-experience {
    display: flex;
    flex-direction: column;
}
.container-experience-heading {
    display: flex;
    justify-content: space-around;

}
.container-experience-heading a{
    text-decoration: none;
    margin-right: -130px;
}
.container-experience-title {
    margin: -2px 156px;
    margin-left: -87px;
}
.container-experience-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 25px;
    margin: 0px 163px;
}
.container-experience-item {
    margin: 50px 30px; 
}
.container-experience-active {
   
}
.container-experience-img {
    border-radius: 8px;
    width: 543px;
    height: 500px;
}
.container-experience-img:hover {

}
.container-experience-item-heading {

}
.container-experience-item-title {
    margin-left: -445px
}
.container-experience-item-sub {
    color: var(--sub-color);
    font-size: 18px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 50px;
}
.container-brand {
    margin: 68px 267px;

}
.row-brand{
    display: flex;
    flex-wrap: wrap; 
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    padding-left: 8px;
    padding-right: 8px;
}
.row-brand-first {
    position: relative;
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
    border-radius: 4px;
    /* background-image: linear-gradient(rgb(241, 243, 246) 2%, rgb(255, 255, 255)); */
}
.custom-title {
    flex: 0 0 calc(50% - 10px);
    border-radius: 4px;
}
.row-brand-second {
    flex: 0 0 25%;
    max-width: 25%;
}
.paragraph{
    font-size: 32px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 122px;
}
.brand-img {
    border: 2px solid rgb(241, 243, 246);
    background-image: linear-gradient(rgb(241, 243, 246) 2%, rgb(255, 255, 255));
}
.container-contact {
    background-image: url(./assets/bg-let-work-together.svg);
    background-position: center top;
    /* background-position: 45% 80%; */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 56px 276px;
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}
.container-contact-img {
    background-image: url(./assets/img/retangle.svg);
    width: 745px;
    height: 365px;
    background-size: cover;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    position: relative;
    margin: 20px auto;
    padding: 1px 12% 138px;
    text-align: center;
}
.container-contact-img::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background-color: rgb(4, 168, 245);
    left: 13px;
    top: 60px;
}

.container-contact-img::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background-color: rgb(4, 168, 245);
    bottom: 50px;
    right: -10px;
}
.container-contact-heading {

}
.container-contact-heading-title {
    color: var(--white-color);
    font-size: 48px;

}
.container-contact-heading-sub {
    color: var(--white-color);

}
.container-contact-btn {

}
.first-column {
    /* padding-left: -40px; */
    text-align: left;
}
.container-contact-btn-white{
    color: var(--primary-color);
    font-size: 17px;
    font-weight: 600;
    padding: 16px 18px;
    border-radius: 8px;
    margin-top: 27px;
}
    /*top right bottom left i see the word wrap on the site but i don't kyess*/